<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>@ViewData["Title"] - Web</title>
        @await RenderSectionAsync("Links", false)
    </head>
    
<body>
<header>@await RenderSectionAsync("Header", false)</header>
		    
<main>
	@RenderBody()
</main>
</body>
</html>