<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>@ViewData["Title"] - Web</title>
        @await RenderSectionAsync("Links", false)
    </head>
    
<body>
<header style="height: 4vh; display: flex; border-bottom: medium ridge #e6b333">
    <div style="display: flex; gap: 2%; width: 50%">
        @if (Context.User.IsInRole("User"))
        {
            <div style="width: 22%; background: #e6b333; color: #1a3373; display: flex; justify-content: center; align-items: center; cursor: pointer; border-radius: 3px;" onclick="window.location='/user/orders';">Мои заказы</div>
            <div style="width: 22%; background: #e6b333; color: #1a3373; display: flex; justify-content: center; align-items: center; cursor: pointer; border-radius: 3px;" onclick="window.location='/user/create-order';">Сделать заказ</div>
            <div style="width: 22%; background: #e6b333; color: #1a3373; display: flex; justify-content: center; align-items: center; cursor: pointer; border-radius: 3px;" onclick="window.location='/user/edit';">Настройки профиля</div>
        }
    </div>
    <div style="display: flex; justify-content: end; gap: 2%; width: 50%">
        <div style="width: 22%; background: #e6b333; color: #1a3373; display: flex; justify-content: center; align-items: center; cursor: pointer; border-radius: 3px;" onclick="window.location='/registration/user';">Регистрация</div>
        <div style="width: 22%; background: #e6b333; color: #1a3373; display: flex; justify-content: center; align-items: center; cursor: pointer; border-radius: 3px;" onclick="window.location='/login/user';">Вход</div>
    </div>
</header>
		    
<main>
	@RenderBody()
</main>
</body>
</html>